@using Microsoft.AspNetCore.Identity
@using Project_5.Areas.Identity.Data

@inject SignInManager<Project_5User> SignInManager
@inject UserManager<Project_5User> UserManager
@using Microsoft.EntityFrameworkCore;
@using NuGet.Packaging.Signing;
@using Project_5.Project5.Models;
@using System.Collections;
@using System.Linq;
@inject SignInManager<Project_5User> SignInManager

@inject UserManager<Project_5User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var plans = new ArrayList();
    var Q = new GetQuery();
    var u = @UserManager.GetUserId(User);
    plans = Q.planIds(u);
    string choice;
    string thePlan = "";
    try
    {
        choice = @Context.Request.Form["planSelect"];
    }
    catch (Exception ex)
    {
        choice = null;
    }
    if (!String.IsNullOrEmpty(choice))
    {
        thePlan = choice;
    }
    else
    {
        thePlan = Q.defaultPlan(u);
    }
    string pID = Q.planID(thePlan);
    string majors = "";
    string minors = "";
    int i = 0;
    var Types = new ArrayList();
    Types = Q.subjectTypes(Int32.Parse(pID));
    foreach (string subject in Q.subjects(Int32.Parse(pID)))
    {
        if ((string)Types[i]=="Major")
        {
            majors+= subject + ", ";
        } else {
            minors+= subject + ", ";
        }
        i += 1;
    }
    var catalog = Q.catalogYear(pID);

    <span class="header-column">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark"><strong>Logout</strong></button>
        </form>
        <button id="options"><strong>Options</strong></button>
        <button id="save"><strong>Save</strong></button>
        <input type="checkbox" id="colorCheck" name="colorCheck" value="colorCheck">
        <label for="colorCheck">More Colors?</label>
        <input type="color" id="colors" name="colors">
        <input type="checkbox" id="rainbow" name="rainbow" value="rainbow">
        <label for="colorCheck">Rainbow</label>
        <input type="range" min="1" max="100" value="50" class="slider" id="rainbowSpeed" name="rainbowSpeed">
        <label for="rainbowSpeed">Speed</label>
    </span>
    <span class='header-column'>
        <span id='major'><strong>Major: </strong><var>@majors</var></span><br>
        <span id='minor'><strong>Minor: </strong><var>@minors</var></span>
    </span>
    <span class='header-column'>
        <span id='student'><strong>Student: </strong><var>@UserManager.GetUserName(User)</var></span><br>
        <span id='catalog'><strong>Catalog: </strong><var>@catalog</var></span>
    </span>
}
else
{
    <span class="header-column">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">
            <strong>Register</strong>
        </a>

        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">
            <strong>Login</strong>
        </a>
    </span>
    <!--<li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>-->
}
